// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@mixin gradient($first, $second) {
	background: $first;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
	background: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
	background: -moz-linear-gradient(top,  $first,  $second);
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

.left { float: left; }
.right { float: right; }

.input-large, .input-prepend .add-on.input-large {
	padding: 9px 5px;
}

.btn-group.types {
	padding-left: 20px;
}

///
// .btn-hover classes + lookit, close, queue
///
.btn-hover { 
	cursor: pointer;
	font: bold 20px sans-serif;
	text-align: center;
	opacity: 0.3; 
}
.btn-hover:hover { opacity: 0.75; }
.btn-hover.vertical {
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 16px;
	width: 17px;
	padding-right: 3px;	
}
.btn-hover.horizontal {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

.type.icon {
	position: absolute;
	top: 0;
	left: 50%;
	width: 16px;
	margin-left: -8px;
	opacity: 0.4;
}
.type.icon:hover { opacity: 0.75; }
.lookit.btn-hover {
	left: 0;
	padding-top: 1px;
	@include gradient(skyblue, transparent)
}
.close.btn-hover {
	right: 0;
	@include gradient(red, transparent);
}
.queue.btn-hover {
	bottom: 0;
	background: green;
}

.pic-container {
	margin: 5px;
	display: inline-block;
	position: relative;
	width: auto;
}
.pic-container:hover {
	border: 2px solid orange;
	margin: 3px;
}

// icon renames
.icon-image { background-position: -456px -48px }	//icon-picture
.icon-video { background-position: -192px 0} 		//icon-film
.icon-gallery { background-position: -240px 0;}		//icon-th